* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: rgb(26, 27, 31);
}

.container1 {
    width: 100%;
    
}

.child-container1 {
    display: flex;
    margin: 20px auto;
    width: 50%;
    padding: 0.5%;
    border-radius: 1%;
    align-items: center;
}

.child-container1 img {
    width: 200px;
    height: 200px;
    padding-right: 25px;
    padding-left: 50px;
    
}


.child-container1 p {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.2;
    font-size: large;
}